# =============== #
# Unity generated #
# =============== #
/Temp/
/[Oo]bj/
/UnityGenerated/
/Library/
/Mono/
*.exe
*.dll
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Weight Loss Quest.sln
Weight Loss Quest-csharp.sln

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
[Bb]in
[Rr]elease
[Dd]ebug
/Build

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini