# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
UnityGenerated/
[Ll]ibrary/
/Mono/
*.exe
*.dll
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
*.sln
/*.csproj
/*.suo
WeightLossQuest_Data/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
[Bb]in
[Rr]elease
[Dd]ebug
/Build

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini